*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding:0;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    background-color: #FEFEFC;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}

li {
    list-style: none;
}

button {
    padding: 0px;
    margin: 0;
}

/* Global Classes----------------------------------------------- */

.global {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3em;
    align-items: center;
    align-content: center;
}

/* ---------------- */

.partone__container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content:center;
    gap: 20px;
}


/* list items  */

#todoInput {
    padding: .5em 1em;
    border-radius: 0%;
    width: 50%; /* Make it full width */
    max-width: 300px; /* Set a maximum width */
    border: 2px solid #ccc; /* Light gray border */
    outline: none; /* Remove default outline */
    transition: 0.3s ease-in-out;
    font-family: "Poppins", serif;
}

    
#addButton {
    background-color: transparent;
    border: 2px solid black;
    padding: .58em 1em;
    outline: none; /* Remove default outline */
}

#addButton:hover {
    transition: 0.9s ease-in-out;
    border-radius: 100px;
    cursor: pointer;
}



/* list items  */

#todo-list li {
    display: flex; /* Enables Flexbox */
    flex-direction: row; /* Ensures items are in a row */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Spaces them out */
    padding: .7em;
    border-bottom: 1px solid #ddd; /* Optional: Separates items */
    text-align: center;
}

#todo-list {
    padding-left: 0;
}



.checkbox {
    width: 10%;
}

.listvalue {
    width:80%;
    text-align: left;
    padding-left: 1em;
}

.delete {
    width: 10%;
}

.task-checkbox {
    width: 15px;
    height: 15px;
}

.delete-button {
    background-color: transparent;
    height: 5px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

/* resposive, mobile first */

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2rem;
    }
    p {
        display: none;
    }
    #todoInput {
        padding: 1.5em 1em;
        border-radius: 0%;
        border: 1px solid black;
        width: 70%; /* Make it full width */     
        font-size: 0.5rem; 
    }   
    #addButton {
        border: none;
        background-color: hsla(220, 100%, 57%, 0.441);
        padding: .7em .7em;
    }

    #todo-list li {
        flex-direction: row; /* Ensures items are in a row */
        align-items: center; /* Align items vertically */
        justify-content: space-between; /* Spaces them out */
        padding: .7em;
        border-bottom: 1px solid #ddd; /* Optional: Separates items */
        font-size: .5rem;
    }

}
