*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding:0;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    background-color: #FEFEFC;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}

li {
    list-style: none;
}

/* Global Classes----------------------------------------------- */

.global {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3em;
}




/* list items  */

#todo-list li {
    display: flex; /* Enables Flexbox */
    flex-direction: row; /* Ensures items are in a row */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Spaces them out */
    padding: .7em;
    border-bottom: 1px solid #ddd; /* Optional: Separates items */
}

.checkbox {
    width: 10%;
}

.listvalue {
    width:80%;
    text-align: left;
    padding-left: 1em;
}

.delete {
    width: 10%;
}

.task-checkbox {
    width: 15px;
    height: 15px;
}

.delete-button {
    background-color: transparent;
    height: 5px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}